@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-fullcalendar-column-header-inner, .ant-fullcalendar-value {
  color: #ffffff;
}

.ant-fullcalendar-next-month-btn-day .ant-fullcalendar-value {
  color: rgba(255, 255, 255, .35);
}

.ant-fullcalendar-value:hover {
  color: #0d1626;
}

.ant-select-selection {
  background: transparent !important;
  color: white;
  border: none;
}

.ant-fullcalendar-disabled-cell .ant-fullcalendar-value {
  color: rgba(255, 255, 255, 0.25);
}

.ant-fullcalendar {
  border: none;
}

.ant-fullcalendar-header {
  display: flex;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: none;
}

.ant-fullcalendar-calendar-body {
  padding-left: 0;
}