@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-fullcalendar-column-header-inner, .ant-fullcalendar-value {
  color: #ffffff;
}

.ant-fullcalendar-next-month-btn-day .ant-fullcalendar-value {
  color: rgba(255, 255, 255, .35);
}

.ant-fullcalendar-value:hover {
  color: #0d1626;
}

.ant-select-selection {
  background: transparent !important;
  color: white;
  border: none;
}

.ant-fullcalendar-disabled-cell .ant-fullcalendar-value {
  color: rgba(255, 255, 255, 0.25);
}

.ant-fullcalendar {
  border: none;
}

.ant-select-arrow {
  color: rgba(255, 255, 255, 0.25);
}

.ant-fullcalendar-header {
  display: flex;
}

.ant-fullcalendar-column-header span {
  font-weight: bold;
}

*::selection {
  background: none;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: none;
}

.ant-fullcalendar-calendar-body {
  padding-left: 0;
}

.ant-time-picker-input {
  background: none;
  border: none;
}

.ant-time-picker-icon .ant-time-picker-clock-icon, .ant-time-picker-clear .ant-time-picker-clock-icon {
  color: rgba(255, 255, 255, 0.25)
}

.ant-time-picker-icon, .ant-time-picker-clear {
  display: none;
}

.ant-fullcalendar-header .ant-radio-group {
  display: none;
}

.ant-select-selection-selected-value {
  font-size: 18px;
  font-weight: bold;
}

.ant-time-picker-input {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.probability {
  font-size: 30px;
  color: #00ff7b;
}

.alert-number {
  position: absolute;
  top: 0;
  left: 0;
  background: red;
}

.ant-fullcalendar-selected-day .ant-fullcalendar-value, .ant-fullcalendar-month-panel-selected-cell .ant-fullcalendar-value {
  border-radius: 50%;
}

.ant-fullcalendar-column-header-inner, .ant-fullcalendar-value {
  font-size: 18px;
}

.ant-fullcalendar table thead, .ant-fullcalendar th, .ant-fullcalendar td thead {
  background: rgba(0,0,0,0.1);
  border-radius: 0px;
  padding: 12px 0;
}

.ant-time-picker-input::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4)
}